*{
    padding:0em;
    margin:0em;
    box-sizing:border-box;
}
body{
    background-color:black;
    padding:1em;
}
.everything{
    display:flex;
    flex-direction:column;
    align-items:center;
    margin:auto;
    width:90%;
    box-shadow: .5em .5em 2em rgb(40, 255, 40);
}
header{
    display:flex;
    background-color:rgb(66, 102, 66);
    display:flex;
    flex-direction:column;
    align-items:center;
    padding:1em;
    flex-wrap:wrap;

}
.nav-bar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding-right:1em;

}
.nav-bar #logo{
    display:flex;
    border-radius:50%;
    width:3%;
    height:auto;
    margin-right:2em;
}
ul{
    list-style:none;
    margin:0em;
    display:flex;
    gap:2em;
    font-size:1.5em;
    flex-wrap:wrap;

}
a{
    text-decoration:none;
    color:yellow;
}
.title{
    display:flex;
    justify-content:space-between;
    align-items:center;
    width:70%;
    gap:2em;
    padding:3em 0em;
    flex-wrap:wrap;

}
.title .title-text{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    gap:1em;
    width:50%;
}
h1{
    font-size:4em;
    color:white
}
.title-text p{
    font-size:1.5em;
    color:white
}
.title-text button{
    display:flex;
    margin-right:auto;
    font-size:1.5em;
    background-color:rgb(72, 255, 0);
    padding:.5em 1em;
    border-radius:.5em;
    border:.1em solid black;
    color:rgb(0, 0, 0);
    font-weight:bold;
}
.top-spider{
    display:flex;
    flex-wrap:wrap;

}
.top-spider{
    display:flex;
    flex-wrap:wrap;
}
#title-image{
    display:flex;
    width:500px;
    height:auto;
    max-width:100%;
    max-height:auto;

}
.second-container{
    display:flex;
    color:white;
    flex-direction:column;
    align-items:center;
    width:70%;
    padding:1em 0em;
    justify-content:center;
    gap:2em;
    font-size:2em;
}
.second-container .image-collection{
    display:flex;
    justify-content:space-between;
    width:100%;
    gap:1em;
    flex-wrap:wrap;
    margin:auto;
    padding-bottom:3em;
}
.second-container .image-collection .images{
    display:flex;
    flex-direction:column;
    font-size:.8em;
    text-align:center;
    align-items:flex-start;
    width:195px;
}
.second-container .image-collection .images img{
    width:195px;
    height:195px;
}