*{
    padding:0em;
    margin:0em;
}
body{
    background-color:black;
    padding:1em;
}
.everything{
    display:flex;
    flex-direction:column;
    align-items:center;
    margin:auto;
    width:90%;
    box-shadow: .5em .5em 2em rgb(40, 255, 40);
}
header{
    display:flex;
    background-color:rgb(66, 102, 66);
    display:flex;
    flex-direction:column;
    align-items:center;
    padding:1em;
}
.nav-bar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding-right:1em;
}
.nav-bar #logo{
    display:flex;
    border-radius:50%;
    width:3%;
    height:auto;
    margin-right:2em;
}
ul{
    list-style:none;
    margin:0em;
    display:flex;
    gap:2em;
    font-size:1.5em;
}
a{
    text-decoration:none;
    color:yellow;
}
.title{
    display:flex;
    justify-content:space-between;
    width:70%;
    gap:2em;
    padding:3em 0em;
}
.title .title-text{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    gap:1em;
}
h1{
    font-size:4em;
    color:white
}
.title-text p{
    font-size:1.5em;
    color:white
}
.title-text button{
    display:flex;
    margin-right:auto;
    font-size:1.5em;
    background-color:rgb(255, 255, 255);
    padding:.5em 1em;
    border-radius:.5em;
    border:.1em solid black;
    color:rgb(8, 192, 8);
    font-weight:bold;
}
#title-image{
    display:flex;
    max-width:100%;
    max-height:100%;
}

